<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Document</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    </head>

    <body>
        <!-- sidebar -->
        <div class="sidebar ">
            <a href="#" class="logo">
                <i class='fas fa-school'></i>
                <div class="logo-name"><span>UHMS</span></div>
            </a>

            <ul class="side-menu">
                <li><a href="/admin"> <i
                            class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li><a href="#"><i
                            class='fas fa-code-pull-request'></i>Requests</a></li>
                <li><a href="#"><i
                            class='fas fa-user'></i>Student</a></li>
                <li><a href="#"><i
                            class='fas fa-cog'></i>Setting</a></li>

            </ul>
            <ul class="side-menu out">
                <li><a href="/login " class="logout"><i
                            class='fas fa-arrow-right-from-bracket'></i>Logout</a>
                </li>
            </ul>
        </div>
        <!-- end of sidebar -->

        <!-- NavBar -->
        <div class="content">
            <nav>
                <i class="fas fa-bars"></i>
                <form action>
                    <div class="form-input">
                    </div>
                </form>
                <a href="#" class="user">
                    <%= admin %> <b><%= resInfo[0].residenceName %> Hall</b>
                </a>
                <a href="#" class="notify">
                    <i class="fas fa-bell"></i>
                    <span class="count">12</span>
                </a>
                <a href="#" class="profile">
                    <img src="/images/go.png" alt>
                </a>
            </nav>
        </div>
        <!-- end of navbar -->
        <script src="script.js"></script>
    </body>

</html>