<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Document</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    </head>

    <body>
        <!-- sidebar -->
        <div class="sidebar">
            <div class="logo">
                SRES
            </div>
            <hr color="#0f0f0f">

            <ul class="side-menu">
                <li><a class="nav-link " href="/index"> <i
                            class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li><a class="nav-link" href="/student"><i
                            class='fas fa-address-card'></i>Registration</a></li>
                <li><a class="nav-link" href="/exeat"><i
                            class='fas fa-clipboard-list'></i>Exeat</a></li>
                <li><a class="nav-link" href="/status"><i
                            class='fas fa-credit-card'></i>Status</a></li>
                <li><a class="nav-link" href="#"><i
                            class='fas fa-circle-info'></i>Support</a></li>

            </ul>
            <ul class="side-menu out">
                <li><a href="/login " class="logout"><i
                            class='fas fa-arrow-right-from-bracket '></i>Logout</a>
                </li>
            </ul>
        </div>
        <!-- end of sidebar -->

        <!-- NavBar -->
        <div class="content">
            <nav>
                <i class="fas fa-bars"></i>
                <form action>
                    <div class="form-input">
                    </div>
                </form>
                <a href="#" class="user">
                    <%= student %>
                </a>
                <a href="#" class="notify">
                    <i class="fas fa-bell"></i>
                    <span class="count">12</span>
                </a>
                <a href="#" class="profile">
                    <img src="/images/avatar-8.png" alt>
                </a>
            </nav>
        </div>
        <!-- end of navbar -->
        <script>
                const navLinks = document.querySelectorAll('.nav-link');

        function handleNavLinkClick() {
            // Prevent default link behavior
            

            // Remove active class from all nav links and their parent li elements
            navLinks.forEach(link => {
                link.classList.remove('active');
                link.parentElement.classList.remove('active');
            });

            // Add active class to the clicked nav link and its parent li element
            this.classList.add('active');
            this.parentElement.classList.add('active');
        }

        // Attach click event listener to each nav link
        navLinks.forEach(link => {
            link.addEventListener('click', handleNavLinkClick);
        });
        </script>
    </body>

</html>