<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Student Status
        </title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
        <%- include('layout/sideBar') %>
        <div class="holder">
          
            <form action="" class="statForm">
              <span><h1><b>Registration Status</b></h1></span>
                      <div class="regTable-info">
            <table>
              <thead>
                <tr>
                  
                  <th>Student Name</th>
                  <th>Request Type</th>
                  <th>Request status</th>
                  <th>Student status</th>
                  <th>Date of Entry</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John Doe</td>
                  <td>Registration</td>
                  <td>pending...</td>
                  <td>inactive</td>
                  <td>currentDate()</td>
                </tr>
                
                </tr>
              </tbody>
            </table>
          </div><br>

         <span><h1><b>Exeat Status</b></h1></span>
         <div class="regTable-info">
            <table>
              <thead>
                <tr>
                  
                  <th>Student Name</th>
                  <th>Request Type</th>
                  <th>Request status</th>
                  <th>Student status</th>
                  <th>Date of Entry</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John Doe</td>
                  <td>Exeat</td>
                  <td>pending...</td>
                  <td>inactive</td>
                  <td>currentDate()</td>
                </tr>
                 <tr>
                  <td>John Doe</td>
                  <td>Exeat</td>
                  <td>pending...</td>
                  <td>inactive</td>
                  <td>currentDate()</td>
                </tr>
                 <tr>
                  <td>John Doe</td>
                  <td>Exeat</td>
                  <td>pending...</td>
                  <td>inactive</td>
                  <td>currentDate()</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
            </form>

        </div>

    </body>
</html>