<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>student</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <%- include('layout/sideBar') %>
        <div class="holder">
            <form class="exForm" enctype="multipart/form-data" >
                <label for><i class="fas fa-file-alt"></i>   Exeat Request</label>
           
                    <section class="exSec1">
                        <div class="exType" data-avoid>
                               <button class="exbtn" data-trigger = "weekend">
                                Weekend Pass
                            </button>
                             
                            <button class="exbtn" data-trigger="weekday">
                                Weekly Pass
                            </button>
                         
                        </div>
                        <div class="exInfoWeekEnd none " id="weekend">
                              <div class="dater ">
     
                                    <div class="dater-1">
                                        <label for="startDate">Start Date</label><br>
                                        <input type="date" name="startDate" class="startDate" id="startDate">
                                    </div>
                                    <div class="dater-2">
                                        <label for="endDate">End Date</label><br>
                                        <input type="date" name="endDate" class="endDate" id="endDate">        
                                    </div>
                     
                              </div><br>

                            <div class="fileInfo">

                                   <div class="fileInfo-1">
                                    <label for="leavePurpose">REASON FOR PASS(optional)</label>
                                    <textarea name="comment" placeholder="describe the reason for leave" class="comment" id="comment" cols="20" rows="5"></textarea>
                                   </div>

                                   <div class="fileInfo-2">
                                    <label for="signedFile"><b>Parent Letter:</b></label>
                                    <input type="file" name="signedFile" class="sf">
    
                                   </div>
                                </div>
                                <div class="description">
                                       <h1>Guidelines for Weekend Exeat Request</h1><br>
                                        <span>
                                            1. You can only request once a month <br><hr>
                                            2. It is advised to request between Mon-Wed<br><hr>
                                            3. You are to return to school on or before your endDate.<br><hr>
                                            4. You are to contact your hall admin if you need to prolong your leave.<br><hr>
                                            5. Do not leave the school until your status says <span style="color: green;" >Approved </span>
                                        </span>
                                </div>

                        </div>
                        <div class="exInfoWeekDay none" id="weekday">
                    <div class="dater"> 
                               <div class="dater-1">
                                    <label for="startDate">Start Date</label><br>
                                    <input type="date" name="startDate" class="startDate" id="startDate">
                                </div>

                         <div class="dater-2">
                            <label for="endDate"> End Date </label><br>
                            <input type="date" name="endDate"class="endDate" id="endDate"> 
                         </div>   
                                                          <!-- <label for="days"><span>Days</span><h1>3</h1></label> -->
                    </div><br>

                                <div class="fileInfo">
                                    <div class="fileInfo-1">
                                        <label for="leavePurpose">REASON FOR PASS(optional)</label> 
                                        <textarea  name="comment" placeholder="describe the reason for leave" class="comment" id="comment" cols="20" rows="5"></textarea>    
                                    </div>
                                    <div class="fileInfo-2">
                                         <label for="signedFile"><b>Parent Letter:</b></label>
                                        <input type="file" name="signedFile" class="sf">
                                    </div>               
                                </div>
                                <div class="description">
                                       <h1>Guidelines for Weekly Exeat Request</h1><br>
                                        <span>
                                            1. You can only request once a month <br><hr>
                                            2. It is advised to request between Mon-Wed<br><hr>
                                            3. You are to return to school on or before your endDate.<br><hr>
                                            4. You are to contact your hall admin if you need to prolong your leave.<br><hr>
                                            5. Do not leave the school until your status says <span style="color: green;" >Approved </span>
                                        </span>
                                </div>

                             </div>               

                              <section class="exSec2">
                        <button  type="submit">Send request</button>
                            </section>
                        
                        </div>
                        
                    </section>

                

                </div>
            </form>
        </div>
         <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
        const exBtn = document.querySelectorAll('.exbtn');
        const exForm = document.querySelector(".exForm");
        
        exBtn.forEach(button=> {
            button.addEventListener('click', function(e){
                e.preventDefault();

                document.querySelectorAll(".exSec1 > div:not([data-avoid])").forEach(elem => {
                    elem.classList.add("none")
                })

                document.querySelector(`#${this.dataset?.trigger}`).classList.remove('none');
                handleActiveClick(this)
     
            })
        })

   function handleActiveClick(button){
        exBtn.forEach(btn => {
        btn.classList.remove('active');
    });
    button.classList.add('active');

   } 


  exForm.addEventListener("submit", (e) => {
    e.preventDefault();

    const formData = new FormData(exForm);
    const activeText = document.querySelector('.exbtn.active').textContent;
    formData.append('requestType', activeText);

    const config = {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    };

    axios.post("/exeatRequest", formData, config)
        .then((response) => {
           if(response.data.url) return window.location.href = response.data.url
            
        })
        .catch((error) => {
            console.error('Error sending request:', error);
            
        });
});

        </script>

    </body>
</html>